<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!--
            Using this ContentProvider (`ResourceManagerContentProvider`) initializes `ResourceManager`
            early in the application's lifecycle, before any Activities or Services start.

            This approach ensures `ResourceManager` has access to the application context as soon as
            the app launches, making it ready for other components to use.

            The `android:initOrder="1000"` attribute gives this provider priority in loading order
            if there are multiple ContentProviders.
        -->
        <provider
            android:name="dev.randos.resourcemanager.ResourceManagerContentProvider"
            android:authorities="dev.randos.resourcemanager.ResourceManagerContentProvider"
            android:exported="false"
            android:initOrder="100" />
    </application>
</manifest>